
$Montserrat: "Montserrat", sans-serif;;

// Colors

:root{
    --black:#313131;
    --white:#ffffff;
    --grey:#B1B2B5;
    --lightGrey:#757575;
    --darkGrey:#232324;
    --blue:#7f8fbb;
    --darkBlue:#031853;
    --green:#41e90e;
    --red:#e9150e;
    --fullWidth: 900px;
    --fullHeight: 600px;

}

@mixin uppercase{
    text-transform:uppercase;
}

