
$Montserrat: "Montserrat", sans-serif;;

// Colors

:root{
    --black:#313131;
    --white:#ffffff;
    --grey:#B1B2B5;
    --lightGrey:#d0d1d4;
    --darkGrey:#575758;
    --blue:#0e48e9;
    --darkBlue:#031853;
    --fullWidth: 1110px;
    --headerHeight:60px;
    --fullHeight: 600px;

}

