@import 'variables.scss';
@import 'general.scss';
@import 'hero.scss';


.wrapper{

    width: var(--fullWidth);
    font-family: $Montserrat;

    @media screen and (width < 1024px) {
        width: 100%;
        padding: 0 1rem;
        position: relative;
    }

    h1{
         font-size: 40px;
         color: var(--white);

         @media screen and (width < 1024px) {
            font-size: 30px;
         }
    }

    h2{
        font-size: 30px;
        color: var(--white);

        @media screen and (width < 1024px) {
            font-size: 20px;
        }
    }

.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--darkGrey);
    border: 1px solid var(--lightGrey);
    border-radius: 5px;
    margin: 1rem 0;
    gap: 1rem;
    transition: all 0.4s linear; 

    @media screen and (width < 640px) {
        display: block;
     }

  
     &:hover{
        background-color: var(--lightGrey);
        transition: all 0.4s linear; 
        transform: scale(1.1);
     }

    .card-content {
        margin: 0 15px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (width < 640px) {
            margin:0;
         }
        
        h4 {
          font-size: 18px;
          color: var(--white);
          margin: 5px 0;
          @include uppercase;
        }

        h5 {
            font-size: 15px;
            color: var(--blue);
            margin-bottom: 5px;
            @include uppercase;
          }

        span {
          font-size: 15px;
          color: var(--grey);
          margin-bottom: 5px;

          .opacity{
            color: var(--lightGrey);
          }
          
        }

        
      }

      .card-timer {

        p {
            font-size: 14px;
            color: var(--white);

            &:first-child{
                margin-bottom: 5px;
              }
          }

         
               
      }

      .card-icon{
            margin-left: 1rem;  
            width: 16px;
            height: 16px;
            background:var(--red);
            border-radius:50%;
            line-height:20px;
            vertical-align:middle;
            text-align:center;
            animation: 1s blink ease infinite;

            &.active{
                background:var(--green);
            }
        }
}

}


@keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }